
/* Start Global Rules */
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 :root {
    --main-color: #FE704B;
    --main-color-alt: #0B2239;
    --background-color: #FFF3EF;
    --paragraph-color: #555555;
 }

 body{
    font-family: "Poppins", sans-serif;
 }
 ul {
    list-style: none;
 }
 a {
    text-decoration: none;
 }
 /* End Global Rules */
 
 /* Start Navbar */

 .navbar {
    background-color: var(--background-color);
 }
 .margin-left {
    margin-left: 200px;
 }
 @media (min-width: 768px) {
     .margin-left {
        margin-left: 5px;
     }
 }
a.nav-link {
    color: var(--main-color-alt);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
a.nav-link:hover {
    color: var(--main-color);
}
.btn {
    background-color: #FE704B;
    border: 0;
}
.btn:hover {
    background-color:#FE704B;
}
 /* End Navbar */

/* Start Banner */
 /* End Banner */

 /* Start About Us */
 /* End About Us */


 /* Start Services */
 /* End Services */


 /* Start Gallery */
 /* End Gallery */


 /* Start Pricing */
 /* End Pricing */

  /* Start Contact  */
 /* End Contact  */