
/* Start Global Rules */
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 :root {
    --main-color: #FE704B;
    --main-color-alt: #0B2239;
    --background-color: #FFF3EF;
    --paragraph-color: #555555;
 }

 body{
    font-family: "Poppins", sans-serif;
 }
 ul {
    list-style: none;
 }
 a {
    text-decoration: none;
 }
 /* End Global Rules */
 
 /* Start Navbar */

 .navbar {
    background-color: var(--background-color);
 }
 a.margin-right  {
    margin-right: 250px;
 }
 a.nav-link {
 }
a.nav-link {
    color: var(--main-color-alt);
}
a.nav-link:hover {
    color: var(--main-color);
}
.btn {
    background-color: #FE704B;
    border: 0;
    padding: 10px 20px;
    margin-left: 10px;
}
.btn:hover {
    background-color:#FE704B;
}
 /* End Navbar */

/* Start Banner */
.banner {
    background-color: var(--background-color);
}
.banner-btn-left {
    background-color: var(--main-color);
    padding: 15px 25px;
}
.banner-btn-right {
    padding: 15px 25px;
    margin-left: 20px;
}
.banner-btn:hover{
    background-color: var(--main-color-alt);
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.banner-margin-top {
    margin-top: 120px;
}
.banner-para {
    line-height: 28px;
}
.banner-title {
    font-size: 54px;
    line-height: 1.5;
}
 /* End Banner */

 /* Start About Us */
 /* End About Us */


 /* Start Services */
 /* End Services */


 /* Start Gallery */
 /* End Gallery */


 /* Start Pricing */
 /* End Pricing */

  /* Start Contact  */
 /* End Contact  */